<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple</title>
</head>
<body>
    <h1>This page is dedicated to apple</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eum iusto error mollitia, nesciunt laboriosam eligendi veniam esse itaque, illum sit odio sint eius. Saepe nihil labore sit. Voluptas, distinctio. Minima recusandae esse doloremque sunt aperiam obcaecati facere quia! Illo nemo hic veniam iusto porro!</p>
    <button>Click Me</button>
</body>
</html>